<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckList</key>
	<dict>
		<key>images</key>
		<array>
			<string>0.png</string>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
			<string>4.png</string>
			<string>5.png</string>
			<string>6.png</string>
			<string>7.png</string>
			<string>8.png</string>
			<string>9.png</string>
			<string>10.png</string>
			<string>11.png</string>
			<string>12.png</string>
			<string>13.png</string>
			<string>14.png</string>
			<string>15.png</string>
			<string>16.png</string>
			<string>17.png</string>
			<string>18.png</string>
			<string>19.png</string>
			<string>20.png</string>
			<string>21.png</string>
			<string>22.png</string>
			<string>23.png</string>
			<string>24.png</string>
		</array>
		<key>data</key>
		<array>
			<string>Visiting the Citadel and Roman Theatre in Amman - It gives you a perspective of the city&apos;s history and provides stunning views of the entire area.</string>
			<string>Trying Falafel and Shawerma sandwiches in downtown Amman - Light local meals.</string>
			<string>Trying the local sweet Knafeh - A spiral of sticky sweetness that, once scooped from the metal tray, will induce serious cravings for second and third helpings.</string>
			<string>Visiting many of Amman&apos;s souvenir shops - Mosaic replicas, rugs, beads, embroideries, traditional dresses, traditional silver jewelry, etc… </string>
			<string>Creating your own sand bottle and personalizing it with your name - A perfect souvenir and present to take back home.</string>
			<string>Watching the Roman Army and Chariot Experience show - Enjoy the show in Jerash and get to take pictures with the legionaries.</string>
			<string>Taking a glimpse at the oldest mosaic maps in the world in Madaba - Take a look at a wonderfully vivid 6th century Byzantine mosaic map showing Jerusalem and other holy sites.</string>
			<string>Hiking in Dana Biosphere Reserve - The reserve contains a remarkable diversity of landscapes and is home to about 600 species of plants, 37 species of mammals and 190 species of birds.</string>
			<string>Checking out the most endangered animals in the Middle East in Shawmari Wildlife Reserve.</string>
			<string>Trekking and visiting Karak Castle in Al-Karak -  A dark maze of stone-vaulted halls and endless passages is an impressive insight into the architectural military genius of the Crusaders.</string>
			<string>Visiting the famous miracle of the Gadarene swine site known as Umm Qays - The main sights are the ruins of the Roman city, with its Western Theatre, colonnaded street, mausoleum and baths.</string>
			<string>Visiting Ajlun Castle in Ajlun - Built by Saladin&apos;s general in 1184 AD to control the iron mines, Ajlun Castle is a fine example of Islamic architecture.</string>
			<string>Visiting the Moses Memorial Church in Mount Nebo - The place where Moses was buried and the most revered holy site in Jordan.</string>
			<string>Visiting St. Elijah&apos;s Hill at the Baptism Site at Bethany Beyond the Jordan - The place where Jesus Christ was baptized by John the Baptist.</string>
			<string>Floating in the Dead Sea - The only place in the planet where you can float in water completely supported by its rich mineral content.</string>
			<string>Purifying your body with Dead Sea salt and black mud at the Dead Sea shores.</string>
			<string>Dipping in Ma&apos;in Hot Springs - A body care oasis between mountains, waterfalls, trees and flowers.</string>
			<string>Rock climbing in Wadi Mujib, the lowest natural reserve on earth - The campsite offers the most stunning scenery and the most dramatic hiking in Jordan.</string>
			<string>Visiting one of the Islamic desert castles - The desert castles of Al-Kharrana, Al-Mushatta, Qastal, Tuba, Al-Hallabat, Mukawkir, Hammam Al-Sarh and Quseir Amra, can be visited on a one-day tour from Amman.</string>
			<string>Visiting Petra Kitchen in Petra - Get to cook and eat a traditional Jordanian meal with a Jordanian chef.</string>
			<string>Visiting Petra at Night - Experience the light of 1,800 lit candles illuminating the Siq to the Treasury and the haunting music of the Bedouins.</string>
			<string>Camping in Wadi Rum - Experience the life of the Bedouins, camp and dine in the most extraordinary sandy desert in the world.</string>
			<string>Camel trekking in Wadi Rum.</string>
			<string>Hopping on a Hot Balloon in Wadi Rum - The view over Wadi Rum is simply miraculous and stunning.</string>
			<string>Scuba diving in Aqaba - Out-of-this-world colors and incredible sea creatures, Jordan&apos;s Gulf of Aqaba offers scuba divers the chance to see 158 species of living coral and 500 different kinds of fish.</string>
		</array>
	</dict>
</dict>
</plist>
