<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<dict>
		<key>text2</key>
		<string>Arabic numbers are easy to read - in fact, the western numerical system was originally derived from the Arabic system. Unlike the words, Arabic numerals are read from left to right (the same as western numerals). </string>
		<key>text1</key>
		<string>The official language of Jordan is Arabic, but English is widely spoken especially in the cities. Many Jordanians have travelled, or have been educated abroad, so French, German, Italian and Spanish are also spoken, but to a lesser extent.
When Arabic is written in Jordan using the Latin alphabet, English spelling is applied; however, these spellings can be interpreted in various ways - the spelling, for example, of street addresses can vary widely. For this reason, the sounds of the words are a much better guide than the spelling.

Speaking Arabic is easier than you might think; attempting a few basic words will gain you respect from the locals and is a good way to break the ice. The Jordanian people are extremely understanding and will help you whenever they are able.

Here are a few useful words and phrases to get you started:</string>
	</dict>
</dict>
</plist>
