<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Take a Bath</string>
		<key>image</key>
		<string>2.jpg</string>
		<key>details</key>
		<string>Go for a scrub and massage at a Turkish bath – After a long day of exploring the sites of Amman, enjoy the full service of the hammam, which includes a steam bath, sauna, Jacuzzi, scrubbing, and a 40-minute massage all done in a fantastic settings that are architecturally faithful to the tradition of a Turkish bath.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Conquer the Citadel</string>
		<key>image</key>
		<string>4.jpg</string>
		<key>details</key>
		<string>Visit the Citadel – The Citadel towers above the city from Jabal Al-Qal&apos;a, and is the site of ancient Rabbath-Ammon. Excavations here have uncovered Roman, Byzantine, and early Islamic remains. The most impressive, known simply as Al-Qasr (“the Palace”), dates back to the Islamic Umayyad period. Nearby are the ruins of the Umayyad palace grounds. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Enjoy the Art Scene</string>
		<key>image</key>
		<string>6.jpg</string>
		<key>details</key>
		<string>Visit Darat Al-Funun (Little House of Arts) – This tranquil garden contains the former home of Peak Pasha, Lieutenant Colonel Frederick Peak, who commanded the Arab Legion from the early 1920s to 1939. Now it is a gallery housing works by leading Arab artists.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Indulge Your Sweet tooth</string>
		<key>image</key>
		<string>8.jpg</string>
		<key>details</key>
		<string>Try Arabic sweets – If you are tired of the usual pies and brownie treats, try some Arabic sweets like Ush Al-Bulbul, Faisalieh, Nabulsieh, Barazek, Ghriebeh, and Ma&apos;moul.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ride Horseback</string>
		<key>image</key>
		<string>10.jpg</string>
		<key>details</key>
		<string>Try horseback riding at one of the many riding clubs – Amman boasts a large number of clubs that offer horseback riding activities, so why not take the time to take a riding lesson. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Take a Bow</string>
		<key>image</key>
		<string>12.jpg</string>
		<key>details</key>
		<string>Visit the Roman Theatre in downtown Amman – Built into the hillside, the theatre was constructed during the time of Antonius Pius (138-161 CE) and was oriented north to keep the sun off the spectators. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wise Up</string>
		<key>image</key>
		<string>14.jpg</string>
		<key>details</key>
		<string>Visit the Jordan Archeological Museum – The museum is located on Citadel Hill and was built in 1951. It presents artefacts from Jordan&apos;s archeological sites that date back from prehistoric times to the 15&apos;th century.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Experience the Folklore</string>
		<key>image</key>
		<string>16.jpg</string>
		<key>details</key>
		<string>Visit the Jordan Folklore Museum – Officially opened in 1975 by the Department of Antiquities, it houses items representing the desert (Bedu), villages (Reef), and towns and cities (Madinah) cultures. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Explore Copper Age Caves</string>
		<key>image</key>
		<string>18.jpg</string>
		<key>details</key>
		<string>Visit Iraq Al-Amir – Located southwest of Amman, Iraq Al-Amir is famous for its olive trees and the many caves in the hills that de back to the Copper Age. Also at the site is Qasr Al-Abed, one of the very few examples of pre-Roman construction in Jordan. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Credit or Debit?</string>
		<key>image</key>
		<string>20.jpg</string>
		<key>details</key>
		<string>Shop at one of Amman&apos;s many malls – As the city of contrasts that it is, Amman offers the latest in fashion at many of its modern malls and designated shopping areas. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Decorate Your Home</string>
		<key>image</key>
		<string>22.jpg</string>
		<key>details</key>
		<string>Visit the Jordan River Foundation Show Room – The Foundation is a non-profit organization started in 1995 to empower society, especially women and children. They specialize in home deisgn, with an emphasis on rugs, cushions, embroidery, camel bags, baskets, as well as selling Dead Sea products, all at a high quality.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Oldest Falafel in Town</string>
		<key>image</key>
		<string>24.jpg</string>
		<key>details</key>
		<string>Have a falafel sandwich at Al-Quds in Jabal Amman – Al-Quds is the oldest falafel vendor in Amman and is a must-try for all those who visit. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Play a While</string>
		<key>image</key>
		<string>26.jpg</string>
		<key>details</key>
		<string>Take the kids to one of the many kids clubs – Amman boasts a number of kids clubs with many play areas that could keep them entertained for hours. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Antiques, Jewelry and Beyond</string>
		<key>image</key>
		<string>28.jpg</string>
		<key>details</key>
		<string>Visit Souk Al-Bukharieh in downtown Amman – The oldest souk in Amman, it is tucked away in an alley with little shops lining it left and right. For an authentic Jordanian shopping experience, head down to the souk and shop for lanterns, jewellery, antiques, and souvenirs.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Spread the Hummus</string>
		<key>image</key>
		<string>30.jpg</string>
		<key>details</key>
		<string>Eat at Hashem Restaurant in downtown Amman – A legendary place that is known to all locals, whether they go there or not; it overflows into the alley and is popular for its falafel, hummus, and fuul.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Strategic History</string>
		<key>image</key>
		<string>32.jpg</string>
		<key>details</key>
		<string>Visit the Martyr&apos;s Memorial – Established in 1977, the memorial houses a small but interesting museum, which chronicles Jordan&apos;s recent military history, from the Arab Revolt in 1916 (in which 10,000 Arab fighters were martyred) through to the Arab-Israeli wars.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Picnics and Barbecues</string>
		<key>image</key>
		<string>34.jpg</string>
		<key>details</key>
		<string>BBQ with friends at one of the city parks – Grab your friends, a portable BBQ, and enjoy the cool night breeze under the stars.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ride a Steam Engine</string>
		<key>image</key>
		<string>36.jpg</string>
		<key>details</key>
		<string>Step back in time at the Hejaz Railway Station – The station is like a time machine taking you to a vanished age. There&apos;s a great collection of working steam locomotives that are used for corporate and tourist excursions, and an impressive railway museum. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>High Street Shopping</string>
		<key>image</key>
		<string>38.jpg</string>
		<key>details</key>
		<string>Walk along Al-Wakalat Street and browse the high street shops – Walk around the fashion centre of Amman and enjoy the availability of brand names from around the world.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Religious Architecture</string>
		<key>image</key>
		<string>40.jpg</string>
		<key>details</key>
		<string>Visit the grand Al-Husseini Mosque downtown – The mosque was built by the late King Abdullah in 1924 on the site of a much older mosque and possibly also the site of Philadelphia&apos;s Byzantine cathedral. Built in pink and white stone in the Ottoman style, it was fully restored in 1987.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Take in a Concert</string>
		<key>image</key>
		<string>42.jpg</string>
		<key>details</key>
		<string>Enjoy live entertainment and concerts that take place around the city – Amman has a rich theatre and performance culture that is ever-growing and as such plays and shows are available year-round.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Koranic Site</string>
		<key>image</key>
		<string>44.jpg</string>
		<key>details</key>
		<string>Visit the Cave of Seven Sleepers, who were mentioned in the Qur&apos;an in “Suret Al-Kahf” – One of several locations claiming to be the cave where the “seven sleepers” escaped persecution and slept for 309 years. Inside you can see 8 sealed tombs, while above and below the cave are the remains of two mosques. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Farmers Market</string>
		<key>image</key>
		<string>46.jpg</string>
		<key>details</key>
		<string>Visit Souk Al-Sukkar (a vegetable market downtown) – Walk through the busy fruit and vegetable market downtown where locals shop for their fresh produce as traders shout out their prices to entice customers to their stalls. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Play Dress-up</string>
		<key>image</key>
		<string>48.jpg</string>
		<key>details</key>
		<string>Visit a traditional costumes shop in Jabal Amman – You can&apos;t miss the shops selling traditional, embroiders, beaded, and sequined dresses, which are fun to try on and perhaps take home as a souvenir.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Adrenaline Rush</string>
		<key>image</key>
		<string>50.jpg</string>
		<key>details</key>
		<string>Try cart racing – Another fun activity to get the blood pumping and the heart racing in the company of friends.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sweet Salty Goodness</string>
		<key>image</key>
		<string>52.jpg</string>
		<key>details</key>
		<string>Try Knafeh, a traditional sweet, in downtown Amman – Enjoy a spiral of sticky sweetness with a layer of white cheese and vermicelli-like pastry dyed orange and covered in sugary syrup.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Paint the Town Red</string>
		<key>image</key>
		<string>54.jpg</string>
		<key>details</key>
		<string>Enjoy Amman&apos;s busy nightlife – Amman may not be the “city that never sleeps,” but it sure does go to bed really late. There are countless venues that are open late till the early hours of the morning and where you can enjoy the hustle and bustle of the city and its social people.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Run a Marathon</string>
		<key>image</key>
		<string>56.jpg</string>
		<key>details</key>
		<string>Run the Amman International Marathon – The Marathon aims at promoting athleticism and athletic cooperation throughout the world. It is usually planned for October.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Largest Mosque</string>
		<key>image</key>
		<string>58.jpg</string>
		<key>details</key>
		<string>Visit the King Hussein Bin Talal Mosque – The Mosque was inaugurated in 2006 and became the country&apos;s national mosque. IT is also the largest mosque in the country and was built to reflect the Umayyad architecture prevalent in many historic sites around Jordan.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>So you think you can dance?</string>
		<key>image</key>
		<string>60.jpg</string>
		<key>details</key>
		<string>Take a belly dancing class – Learn how to belly dance if you are interested in the oriental dance art form or, alternatively, take a tango, salsa, waltz or other type of dance class.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sing your Heart Out</string>
		<key>image</key>
		<string>62.jpg</string>
		<key>details</key>
		<string>Practice your singing at one of Amman&apos;s karaoke nights.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Treat Yourself</string>
		<key>image</key>
		<string>64.jpg</string>
		<key>details</key>
		<string>Enjoy the spa and gym facilities offered at many hotels in Amman – As a health-conscious population, many of Amman&apos;s hotels offer the best in gym facilities and personal trainers.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cycle Through</string>
		<key>image</key>
		<string>66.jpg</string>
		<key>details</key>
		<string>Join a cycling group – Bicycle, and cycling lessons, are provided for anyone interested in seeing the city, day or night, on two wheels while getting a healthy exercise. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Stay up-to-date</string>
		<key>image</key>
		<string>68.jpg</string>
		<key>details</key>
		<string>Check calendar.jo for a list of cultural events happening in Amman – the online calendar is constantly updated to provide the most current information about events happening in Amman.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The road less traveled by</string>
		<key>image</key>
		<string>70.jpg</string>
		<key>details</key>
		<string>Walk around the city – Join one of the walking groups that organize group walks to different sites in the city, to see it from a different perspective, and some company while you exercise. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>People Watch</string>
		<key>image</key>
		<string>72.jpg</string>
		<key>details</key>
		<string>Watch the bustle of downtown from the balcony of Balat Al-Rasheed Cafe – You can&apos;t miss this cafe that is one floor above street level as its facade is plastered with flags from around the world. Enjoy a great view of the street below from here. It was established in 1924, making it one of the oldest cafes in Amman.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Walk in the Park</string>
		<key>image</key>
		<string>74.jpg</string>
		<key>details</key>
		<string>Enjoy a cool evening at Al-Hussein Park – The Park is one of Amman&apos;s new landmarks and includes a cultural village, sports fields, memorial building, historical passageway, decorated gardens, amphitheatre, circular yard, automobile museum, and children&apos;s museum.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Partake in Holiday Mass</string>
		<key>image</key>
		<string>76.jpg</string>
		<key>details</key>
		<string>Experience a holiday mass at one of the many churches – There are many churches in Amman with large festive celebrations during holiday season, some including street parades.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Original Arab Shawerma</string>
		<key>image</key>
		<string>78.jpg</string>
		<key>details</key>
		<string>Enjoy a shawerma sandwich at Reem – Located at the 2nd circle is the first and oldest shawerma vendor in Jordan, established in 1977.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Shoot Some Pool</string>
		<key>image</key>
		<string>80.jpg</string>
		<key>details</key>
		<string>Play pool in one of Amman&apos;s clubs – Enjoy the spirited atmosphere as you bond with friends with this relaxing activity. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Go for a Run</string>
		<key>image</key>
		<string>82.jpg</string>
		<key>details</key>
		<string>Visit the Sports City – Enjoy the lengths of pine forest, and take a walk or run through the forest track for great exercise. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Third highest Flagpole Worldwide</string>
		<key>image</key>
		<string>84.jpg</string>
		<key>details</key>
		<string>Spot the Raghadan flagpole – From most places in the city you can spot the huge Jordanian flag of the Raghadan palace compound, which stands at 126.8m high and is the 3rd highest flagpole in the world. </string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sugarcane fix</string>
		<key>image</key>
		<string>86.jpg</string>
		<key>details</key>
		<string>Try sugarcane juice downtown – There are many juice shops downtown, but head to the ones that will squeeze out fresh sugarcane juice for you to try.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Homemade cuisine</string>
		<key>image</key>
		<string>88.jpg</string>
		<key>details</key>
		<string>Taste the variety of foods available at Jabri - Founded in 1935 in Al-Hashimi Street in downtown, Jabri is one of the oldest restaurants in Amman, offering a variety of Arabic food, from traditional home-cooked meals to sweets, chocolates, and ice cream.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mini-Amman</string>
		<key>image</key>
		<string>90.jpg</string>
		<key>details</key>
		<string>View Amman – Built by the Greater Municipality of Amman, it provides information on today&apos;s planning efforts. It&apos;s the first permanent exhibition space dedicated to the future of the city&apos;s architecture, it documents major developments across the city, and demonstrates the here and (nearly) now – both the existing chaotic urban form that Amman is draped over the highlighted approaching major developments in the city.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Stop by for a Chat</string>
		<key>image</key>
		<string>92.jpg</string>
		<key>details</key>
		<string>Visit the Jordan Tourism Board for any info, tips, brochures, maps, or any help you may need with your trip.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Unique Sweets</string>
		<key>image</key>
		<string>94.jpg</string>
		<key>details</key>
		<string>Find out what Tamriyyeh is by heading to Tamriyet Omar – Well-known to locals for making one thing really well: sweet and sticky Tamriyyeh, freshly-cooked right in front of you.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Architectural Heritage</string>
		<key>image</key>
		<string>96.jpg</string>
		<key>details</key>
		<string>Visit the Duke&apos;s Diwan – Located downtown, Jordan&apos;s only ‘Duke&apos; spotted this building and leased it to create a space that preserves the city&apos;s architectural heritage. It is open to visitors, artists, musicians, and anyone that is interested.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Currency Collector</string>
		<key>image</key>
		<string>98.jpg</string>
		<key>details</key>
		<string>Have lunch at Auberge – An authentic experience in one of Amman&apos;s old restaurants. The restaurant serves different kinds of Arabic food including mixed grill and fish. A chance to interact with old Ammanis and tourists. A special balcony that overlooks the main downtown street.</string>
	</dict>
</array>
</plist>
